.widgets-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, .05);
  gap: 12px;
}

.widget-container {
  background-color: white;
  width: 340px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;
  left: -12px;
}